# Story - 6 : 

## What Is The State of Food Security and Nutrition in the US?

The United Nations Food and Agriculture Organization publication, The State of Food Security and Nutrition in the World 2022 (https://www.fao.org/documents/card/en/c/cc0639en) might lead one to the conclusion that it's an elsewhere problem. That the people who are suffering malnutrition and starvation are "elsewhere", not in our backyard. For this assignment you will need to take a closer look here at home (the US)

Notes:

1. You will need to locate and source data that reflects food security and nutrition by state broken down by men, women, children and by age groups

2. Your analysis should demonstrate correlations that exist between level of poverty and food insecurity, malnutrition and starvation.

3. Your data and analysis should also indicate what happens to the children as they mature into adults. Will they become fully functional citizens or will they require continued support?

4. You data visualizations need to tell the story for a political audience that you were lobbying to address the issue of food insecurity in the US

5. This assignment is due at the end of the week twelve of the semester.

In [1]:
import pandas as pd
import kaggle

In [11]:
def show_summary(df) :
    
    print(80 * "+")
    print(f"DIMENSIONS : ({df.shape[0]}, {df.shape[1]})")
    
    print(80 * "+")
    print("COULMNS: \n")
    print(df.columns.values)
    
    print(80 * "+")
    print("DATA INFO: \n")
    print(df.dtypes)
    
    print(80 * "+")
    print("MISSING VALUES: \n")
    print(df.isnull().sum())
    
    print(80 * "+")
    print("NUMBER OF UNIQUE VALUES: \n")
    print(df.nunique())

Audience: Political

Analysis: Correlation that exist between level of poverty and food insecurity, malnutrition and starvation

In [3]:
kaggle.api.authenticate()
kaggle.api.dataset_download_files("jpmiller/food-security", path = "./", unzip = True)

In [4]:
# look for the data of food insecurity in the US
poverty_df = pd.read_csv("datasets/poverty-rate-by-state-2023.csv")
food_insecurity_df = pd.read_csv("datasets/food-insecurity-by-state-2023.csv")

In [5]:
poverty_df.head(20)

,fips,state,densityMi,pop2023,pop2022,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,PovertyRatesPopulationBelowPovertyLevel,PovertyRatesPercentOfPopulationBelowPovertyLevel
0,1,Alabama,100.67620,5098746,5074296,5031362,5006199.4,4779736,0.00482,24450,0.06674,794326,16.1
1,2,Alaska,1.28449,732984,733583,732923,730653.8,710231,-0.00082,-599,0.03204,75165,10.5
2,4,Arizona,65.61541,7453517,7359197,7179943,7101150.4,6392017,0.01282,94320,0.16607,908961,12.8
3,5,Arkansas,58.86715,3063152,3045637,3014195,3004367.3,2915918,0.00575,17515,0.05049,480153,16.3
4,6,California,249.81347,38915693,39029342,39501653,39276883.3,37253956,-0.00291,-113649,0.04461,4733036,12.3
5,8,Colorado,56.62333,5868555,5839926,5784865,5709298.1,5029196,0.00490,28629,0.16690,553272,9.7
6,9,Connecticut,749.49504,3629055,3626205,3597362,3595035.5,3574097,0.00079,2850,0.01538,354166,10.1
7,10,Delaware,529.49461,1031985,1018396,992114,982696.0,897934,0.01334,13589,0.14929,113450,11.6
8,11,District of Columbia,11062.54098,674815,671803,670868,663953.5,601723,0.00448,3012,0.12147,105007,16.5
9,12,Florida,422.59351,22661577,22244823,21589602,21310772.8,18801310,0.01873,416754,0.20532,2805433,13.1
10,13,Georgia,191.91701,11037723,10912876,10729828,10625610.5,9687653,0.01144,124847,0.13936,1476348,14.0
11,15,Hawaii,223.14152,1433238,1440196,1451043,1441968.8,1360301,-0.00483,-6958,0.05362,156735,11.2
12,16,Idaho,23.88287,1973752,1939033,1849202,1821040.0,1567582,0.01791,34719,0.25911,205702,11.0
13,17,Illinois,224.74459,12477595,12582032,12786580,12790985.2,12830632,-0.00830,-104437,-0.02752,1498523,12.1
14,18,Indiana,191.27287,6852542,6833037,6788799,6758299.3,6483802,0.00285,19505,0.05687,803021,12.2
15,19,Iowa,57.34903,3203345,3200517,3190571,3176149.4,3046355,0.00088,2828,0.05153,344696,11.1
16,20,Kansas,35.91504,2936378,2937150,2937919,2929438.9,2853118,-0.00026,-772,0.02918,333518,11.7
17,21,Kentucky,114.42109,4518031,4512310,4507445,4490637.2,4339367,0.00127,5721,0.04117,721878,16.5
18,22,Louisiana,105.39265,4553384,4590241,4651664,4639834.8,4533372,-0.00803,-36857,0.00441,883236,19.6
19,23,Maine,45.17855,1393442,1385340,1363557,1360037.4,1328361,0.00585,8102,0.04899,154117,11.5

In [6]:

df_prevalence_undernourished = pd.read_csv("datasets/prevalence-of-undernourishment.csv")
df_underweight = pd.read_csv("datasets/share-of-children-underweight.csv")
df_5yrs_stunting = pd.read_csv("datasets/share-of-children-younger-than-5-who-suffer-from-stunting.csv")

In [7]:
def filter_us(df): 
    return df[df["Entity"] == "United States"]

df_prevalence_undernourished_us = filter_us(df_prevalence_undernourished)
df_underweight_us = filter_us(df_underweight)
df_5yrs_stunting_us = filter_us(df_5yrs_stunting)

In [8]:
df_snap_history = pd.read_csv("SNAP_history_1969_2019.csv")

In [ ]:
food_insecurity_df.to_csv("food_insecurity_state.csv", index = False)

poverty_df.to_csv("poverty_state.csv", index = False)

In [9]:
child_food_security_trends = pd.read_csv("food_security_csv_datafiles/Child food security trends_2022.csv")
child_food_security_trends.head(20)

,Year,Category,Total,"Food-secure households-1,000",Food-secure households-percent,"Food-insecure households-1,000",Food-insecure households-percent,"Households with food-insecure children-1,000",Households with food-insecure children-percent,"Households with very low food security among children-1,000",Households with very low food security among children-percent
0,1998,Children - by food security status of household,"71,282","57,255",80.3,"14,027",19.7,"7,840",11.0,716,1.0
1,1998,Households with Children,"38,036","31,335",82.4,"6,701",17.6,"3,627",9.5,331,0.9
2,1999,Children - by food security status of household,"71,418","59,344",83.1,"12,074",16.9,"6,996",9.8,511,0.7
3,1999,Households with Children,"37,884","32,290",85.2,"5,594",14.8,"3,089",8.2,219,0.6
4,2000,Children - by food security status of household,"71,763","58,867",82.0,"12,896",18.0,"7,018",9.8,562,0.8
5,2000,Households with Children,"38,113","31,942",83.8,"6,171",16.2,"3,282",8.6,255,0.7
6,2001,Children - by food security status of household,"72,321","59,620",82.4,"12,701",17.6,"6,866",9.5,467,0.6
7,2001,Households with Children,"38,330","32,141",83.9,"6,189",16.1,"3,225",8.4,211,0.6
8,2002,Children - by food security status of household,"72,542","59,415",81.9,"13,127",18.1,"7,397",10.2,567,0.8
9,2002,Households with Children,"38,647","32,267",83.5,"6,380",16.5,"3,456",8.9,265,0.7
10,2003,Children - by food security status of household,"72,969","59,704",81.8,"13,265",18.2,"7,388",10.1,420,0.6
11,2003,Households with Children,"40,286","33,575",83.3,"6,711",16.7,"3,606",9.0,207,0.5
12,2004,Children - by food security status of household,"73,039","59,171",81.0,"13,868",19.0,"7,823",10.7,545,0.7
13,2004,Households with Children,"39,990","32,967",82.4,"7,023",17.6,"3,808",9.5,274,0.7
14,2005,Children - by food security status of household,"73,604","61,201",83.1,"12,403",16.9,"6,718",9.1,606,0.8
15,2005,Households with Children,"39,601","33,404",84.4,"6,197",15.6,"3,244",8.2,270,0.7
16,2006,Children - by food security status of household,"73,587","60,959",82.8,"12,628",17.2,"7,065",9.6,430,0.6
17,2006,Households with Children,"39,436","33,279",84.4,"6,157",15.6,"3,312",8.4,221,0.6
18,2007,Children - by food security status of household,"73,575","61,140",83.1,"12,435",16.9,"6,766",9.2,691,0.9
19,2007,Households with Children,"39,390","33,160",84.2,"6,230",15.8,"3,273",8.3,323,0.8

In [10]:
child_food_security_trends.tail()

,Year,Category,Total,"Food-secure households-1,000",Food-secure households-percent,"Food-insecure households-1,000",Food-insecure households-percent,"Households with food-insecure children-1,000",Households with food-insecure children-percent,"Households with very low food security among children-1,000",Households with very low food security among children-percent
45,2020,Households with Children,"37,903","32,280",85.2,"5,623",14.8,"2,870",7.6,322,0.8
46,2021,Children - by food security status of household,72416,63154,87.2,9262,12.8,4959,6.8,521,0.7
47,2021,Households with Children,36765,32170,87.5,4595,12.5,2290,6.2,274,0.7
48,2022,Children - by food security status of household,"72,595","59,201",81.5,"13,394",18.5,"7,263",10.0,783,1.1
49,2022,Households with Children,"37,235","30,798",82.7,"6,437",17.3,"3,265",8.8,381,1.0

In [12]:
show_summary(child_food_security_trends)

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
DIMENSIONS : (50, 11)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
COULMNS:

['Year' 'Category' 'Total' 'Food-secure households-1,000'
 'Food-secure households-percent' 'Food-insecure households-1,000'
 'Food-insecure households-percent'
 ' Households with food-insecure children-1,000 '
 'Households with food-insecure children-percent'
 ' Households with very low food security among children-1,000 '
 'Households with very low food security among children-percent']
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
DATA INFO:

Year                                                               int64
Category                                                          object
Total                                                             object
Food-secure households-1,000                                      object
Food-secure households-percent                                   float64
Food-insecure households-1,000                                    object
Food-insecure households-percent                                 float64
 Households with food-insecure children-1,000                     object
Households with food-insecure children-percent                   float64
 Households with very low food security among children-1,000      object
Households with very low food security among children-percent    float64
dtype: object
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
MISSING VALUES:

Year                                                             0
Category                                                         0
Total                                                            0
Food-secure households-1,000                                     0
Food-secure households-percent                                   0
Food-insecure households-1,000                                   0
Food-insecure households-percent                                 0
 Households with food-insecure children-1,000                    0
Households with food-insecure children-percent                   0
 Households with very low food security among children-1,000     0
Households with very low food security among children-percent    0
dtype: int64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
NUMBER OF UNIQUE VALUES:

Year                                                             25
Category                                                          2
Total                                                            50
Food-secure households-1,000                                     50
Food-secure households-percent                                   41
Food-insecure households-1,000                                   50
Food-insecure households-percent                                 41
 Households with food-insecure children-1,000                    50
Households with food-insecure children-percent                   36
 Households with very low food security among children-1,000     47
Households with very low food security among children-percent    10
dtype: int64

In [13]:
df_all_households = pd.read_csv("food_security_csv_datafiles/Food security, all households_2022.csv")
show_summary(df_all_households)

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
DIMENSIONS : (689, 13)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
COULMNS:

['Year' 'Category' 'Subcategory' 'Sub-subcategory' ' Total '
 ' Food secure-1,000 ' 'Food secure-percent' ' Food insecure-1,000 '
 'Food insecure-percent' ' Low food security-1,000 '
 'Low food security-percent' ' Very low food security-1,000 '
 'Very low food security-percent']
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
DATA INFO:

Year                              float64
Category                           object
Subcategory                        object
Sub-subcategory                    object
 Total                             object
 Food secure-1,000                 object
Food secure-percent               float64
 Food insecure-1,000               object
Food insecure-percent             float64
 Low food security-1,000           object
Low food security-percent         float64
 Very low food security-1,000      object
Very low food security-percent    float64
dtype: object
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
MISSING VALUES:

Year                               29
Category                           29
Subcategory                        51
Sub-subcategory                   447
 Total                             29
 Food secure-1,000                 29
Food secure-percent                29
 Food insecure-1,000               29
Food insecure-percent              29
 Low food security-1,000           31
Low food security-percent          36
 Very low food security-1,000      30
Very low food security-percent     36
dtype: int64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
NUMBER OF UNIQUE VALUES:

Year                               22
Category                            6
Subcategory                        20
Sub-subcategory                    12
 Total                            656
 Food secure-1,000                652
Food secure-percent               243
 Food insecure-1,000              636
Food insecure-percent             243
 Low food security-1,000          607
Low food security-percent         188
 Very low food security-1,000     595
Very low food security-percent    136
dtype: int64

In [15]:
df_all_households.head(20)

,Year,Category,Subcategory,Sub-subcategory,Total,"Food secure-1,000",Food secure-percent,"Food insecure-1,000",Food insecure-percent,"Low food security-1,000",Low food security-percent,"Very low food security-1,000",Very low food security-percent
0,2001.0,All households,NaN,NaN,"107,824","96,303",89.3,"11,521",10.7,"8,010",7.4,"3,511",3.3
1,2001.0,Household composition,With children < 18 years,NaN,"38,330","32,141",83.9,"6,189",16.1,"4,744",12.4,"1,445",3.8
2,2001.0,Household composition,With children < 18 years,With children < 6 years,"16,858","13,920",82.6,"2,938",17.4,"2,304",13.7,634,3.8
3,2001.0,Household composition,With children < 18 years,Married-couple families,"26,182","23,389",89.3,"2,793",10.7,"2,247",8.6,546,2.1
4,2001.0,Household composition,With children < 18 years,"Female head, no spouse","9,080","6,185",68.1,"2,895",31.9,"2,101",23.1,794,8.7
5,2001.0,Household composition,With children < 18 years,"Male head, no spouse","2,389","2,009",84.1,380,15.9,298,12.5,82,3.4
6,2001.0,Household composition,With children < 18 years,Other household with child,678,555,81.9,123,18.1,99,14.6,24,3.5
7,2001.0,Household composition,With no children < 18 years,NaN,"69,495","64,163",92.3,"5,332",7.7,"3,266",4.7,"2,066",3.0
8,2001.0,Household composition,With no children < 18 years,More than one adult,"40,791","38,328",94.0,"2,463",6.0,"1,595",3.9,868,2.1
9,2001.0,Household composition,With no children < 18 years,Women living alone,"16,513","14,915",90.3,"1,598",9.7,952,5.8,646,3.9
10,2001.0,Household composition,With no children < 18 years,Men living alone,"12,192","10,922",89.6,"1,270",10.4,718,5.9,552,4.5
11,2001.0,Household composition,With elderly,NaN,"24,836","23,458",94.5,"1,378",5.5,"1,002",4.0,376,1.5
12,2001.0,Household composition,With elderly,Elderly living alone,"10,390","9,758",93.9,632,6.1,426,4.1,206,2.0
13,2001.0,Race/ethnicity of households,White non-Hispanic,NaN,"80,337","74,230",92.4,"6,107",7.6,"4,072",5.1,"2,035",2.5
14,2001.0,Race/ethnicity of households,Black non-Hispanic,NaN,"13,134","10,331",78.7,"2,803",21.3,"1,986",15.1,817,6.2
15,2001.0,Race/ethnicity of households,Hispanic,NaN,"9,864","7,717",78.2,"2,147",21.8,"1,613",16.4,534,5.4
16,2001.0,Race/ethnicity of households,Other,NaN,"4,489","4,026",89.7,463,10.3,339,7.6,124,2.8
17,2001.0,Household income-to-poverty ratio,Under 1.00,NaN,"11,693","7,426",63.5,"4,267",36.5,"2,763",23.6,"1,504",12.9
18,2001.0,Household income-to-poverty ratio,Under 1.30,NaN,"16,904","11,450",67.7,"5,454",32.3,"3,609",21.3,"1,845",10.9
19,2001.0,Household income-to-poverty ratio,Under 1.85,NaN,"25,395","18,316",72.1,"7,079",27.9,"4,811",18.9,"2,268",8.9

In [17]:
df_all_households['Subcategory'].unique()

array([nan, 'With children < 18 years', 'With no children < 18 years',
       'With elderly', 'White non-Hispanic', 'Black non-Hispanic',
       'Hispanic', 'Other', 'Under 1.00', 'Under 1.30', 'Under 1.85',
       '1.85 and over', 'Income unknown', 'Inside metropolitan area',
       'Outside metropolitan area', 'Northeast', 'Midwest', 'South',
       'West', 'With adults > 65 years', 'Adults > 65 years living alone'],
      dtype=object)

In [28]:
new_poverty = poverty_df[['state', "PovertyRatesPercentOfPopulationBelowPovertyLevel"]]
new_food_insecurity = food_insecurity_df[['state','FoodInsecurityLowOrVLPercent']]
new_food_insecurity.to_csv('new_food_insecurity.csv', index=False)
new_poverty.to_csv("new_poverty.csv", index = False)

In [30]:

insecure_poverty = pd.merge(new_poverty, new_food_insecurity, on = "state")

In [23]:
show_summary(new_food_insecurity)

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
DIMENSIONS : (51, 2)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
COULMNS:

['state' 'FoodInsecurityLowOrVLPercent']
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
DATA INFO:

state                            object
FoodInsecurityLowOrVLPercent    float64
dtype: object
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
MISSING VALUES:

state                           0
FoodInsecurityLowOrVLPercent    0
dtype: int64
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
NUMBER OF UNIQUE VALUES:

state                           51
FoodInsecurityLowOrVLPercent    39
dtype: int64

In [31]:
insecure_poverty[['PovertyRatesPercentOfPopulationBelowPovertyLevel','FoodInsecurityLowOrVLPercent']].corr()

,PovertyRatesPercentOfPopulationBelowPovertyLevel,FoodInsecurityLowOrVLPercent
PovertyRatesPercentOfPopulationBelowPovertyLevel,1.000000,0.439469
FoodInsecurityLowOrVLPercent,0.439469,1.000000